

<h3 style="position:fixed ; top: 50% ; left:50% ; margin-top: -50px ; margin-left -100px" > <a href="<%="/movies"%>"><img src="http://homeinteriorsdesigns.info/wp-content/uploads/home-button-icon.png" width="43px" heigh="35px" style="font-align: center; margin: 0 auto"/> </a> </h3>
